// http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/
// https://w3bits.com/css-image-hover-zoom/
// https://codepen.io/hexagoncircle/pen/XWbWKwL
// https://gijsroge.github.io/tilt.js/

.data-tilt {
    position:relative;
    z-index: 0;
}
.data-tilt:hover {
    z-index: 50;
}
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    // overflow: hidden;
    // max-width: 60%;
    // height: auto;
    // flex: 50%;
    // max-width: 50%;
    padding: 0 4px;
}
// .hvrbox img {
//     max-width: 100%;
//     transition: transform .5s ease;
// }
// .hvrbox:hover img {
//     transform: scale(1.15);
// }
.hvrbox .hvrbox-layer_bottom {
    display: block;
    width: 100%;
    height: auto;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    // top: 3%;
    // left: 1%;
    // width: 98%;
    // height: 97%;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.1s ease-in-out 0s;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: center;

    font-size: 100%;
    font-size: 1.3vw;

    display: inline-block;
    position: absolute;
    top: 80%;
    left: 50%;

    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: top 0.25s ease-in-out;
    -moz-transition: top 0.25s ease-in-out;
    -o-transition: top 0.25s ease-in-out;
    transition: top 0.25s ease-in-out;
}

@media screen and (max-width: 800px) {
    .hvrbox .hvrbox-text {
        font-size: 4vw;
        // display: none;
    }
}

.hvrbox .hvrbox-button {
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 60%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.hvrbox .hvrbox-info-button {
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 40%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.hvrbox .hvrbox-layer_image {
    padding: 0px;
    background: transparent none repeat scroll 0% 0%;
}

.title {
    font-size: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.2;
    position:absolute;
    top: 85%;
    left: 0;
    width: 100%;
    text-align:center;
    // transform: translate(-50%, -50%);
    -moz-text-shadow: 2px 2px rgba(0,0,0,0.75);
    -webkit-text-shadow: 2px 2px rgba(0,0,0,0.75);
    text-shadow: 2px 2px rgba(0,0,0,0.75);

    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 5vw;
    }
}

// Responsive Grid
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other, adjust flex and max-width for number of columns */
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//     .column {
//       flex: 50%;
//       max-width: 50%;
//     }
// }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

// w3schools Image Overlay Fade
.container2 {
    position: relative;
    /* width: 50%; */
}

.image2 {
    display: block;
    width: 100%;
    height: auto;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 100%; // set to 0 for dark overlay
    transition: .5s ease;
    // background-color: #252525;
}

.container2:hover .overlay2 {
    // opacity: 0.7; uncomment for dark image overlay transition
}

.text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

// reel style
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 60px;
  }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    -moz-box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

// portfolio piece gif style
.image-col-right{
    position: relative;
    margin-top:10px;
}

.image-box{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 10px 0px 40px 15px;
}

.image-box a img {
    float: right;
}
.image-box a video {
    float: right;
    width: 70%;
    height: auto;
}

.image-box-text{
    position: absolute;
    height: 244px;
    width: 175px;
    bottom: 0;
    left: 0px;
}

.image-box-title {
    padding:0;
    margin:10px 0 10px 15px;
    font-size:13;
    font-weight:bold;
    color:#7ae6dd;
}

.image-box-body {
    padding:0;
    margin:10px 0 10px 15px;
    font-size:16;
    color:rgb(230,230,230);
}
