
// reel style
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 60px;
  }
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 20px;

    -moz-box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

/**************************************************************
* Projects
**************************************************************/

.project {
margin-bottom: 24px;
display: table;
}

.project-left {
display: table-cell;
width: 33%;
vertical-align: top;
}

.project-left img {
width: 100%;
height: auto;
}

.project-right {
display: table-cell;
width: 66%;
vertical-align: middle;;
padding-left: 12px;
padding-right: 6px;
padding-bottom: 16px;

line-height: 1.5em;
}

.project-right p {
margin: 0px;
}

.project strong {
font-weight: bold;
font-size: 1.1em;
}

.project a {
display: block;
text-decoration: none;
color: $body-color;

-webkit-transition: -webkit-transform 0.15s ease-out;
transition: -webkit-transform 0.15s ease-out;
transition: transform 0.15s ease-out;
transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

.project a:hover {
text-decoration: none;
color: $link-color-hover;
-webkit-transform: scale(1.025);
        transform: scale(1.025);
}

.project a:focus {
-webkit-transform: scale(0.9);
        transform: scale(0.9);
}

.project a:visited {
text-decoration: none;
}

/* Hide text on mobile */
@media(max-width: 550px) {
    .project {
        display: block;
    }
    .project-left {
        display: block;
        width: 100%;
    }
    .project-left img {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .project-right {
        display: none;
    }
}

/**************************************************************
* Productions
**************************************************************/
.color-darker {
  color:$gray-blue
}

.production-list {
    list-style:none;
    padding:0;
    margin:0
}
.production-item {
    width:100%;
    margin-top:2.5rem
}
.production-item:first-child {
    margin-top:0
}
@media (min-width: 768px),(max-width: 767px) and (orientation: landscape) {
    .production-item {
      display:flex
    }
}
.production-info {
    font-size: 110%;
    flex:1;
    list-style:none;
    padding:0;
    margin:0;
}

@media (min-width: 768px),(max-width: 767px) and (orientation: landscape) {
    .production-info {
      padding-left:1.375rem
    }
}
@media (min-width: 64em) {
    .production-info {
      padding-left:4.375rem
    }
}
.production-info-line {
    border-bottom:0.0625rem solid $border-color;
    font-weight:600;
    padding-bottom:0.9375rem;
    margin-bottom:0.9375rem
}
.production-info-line:last-child {
    border-bottom:0
}
@media (min-width: 64em) {
    .production-info-line {
      display:flex
    }
}
@media (min-width: 64em) {
    .production-info-label {
      width:33%;
      word-wrap:break-word;
      padding-right:0.625rem;
      -webkit-hyphens:auto;
      hyphens:auto
    }
}
@media (max-width: 767px) and (orientation: portrait) {
    .production-image {
      margin-bottom:1.375rem
    }
    .production-image .img-fluid {
      width:100%;
      display:inline
    }
}

// .production-right p {
//     margin: 0px;
// }

// .production strong {
//     font-weight: bold;
//     font-size: 1.1em;
// }

